algoworld-contracts @ git+https://github.com/algoworldnft/algoworld-contracts@feature/swap_proxy ; python_version >= "3.9" and python_version < "4.0"
cffi==1.15.0; python_version >= "3.9" and python_version < "4.0"
msgpack==1.0.4; python_version >= "3.9" and python_version < "4.0"
py-algorand-sdk==1.13.1; python_version >= "3.9" and python_version < "4.0"
pycparser==2.21; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.4.0"
pycryptodomex==3.14.1; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
pynacl==1.5.0; python_version >= "3.9" and python_version < "4.0"
pyteal==0.13.0; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0; python_version >= "3.9" and python_version < "4.0"
